<h3><%= step_name(@step) %>に「未」のタスクも「完了」のタスクもありません</h3>
<p>roop_ok = true</p>
<p>$through = <%= $through_check_status %></p>
<h4>&#9312;この進捗にタスクを追加し、現在の進捗を「進捗中」とする</h4>
<%= render 'leads/step_statuses/start', step: @step, completed_id: nil, new_task: true, task: @task, roop_ok: true, button_name: "開始" %>
<br>
<h4>&#9313;この進捗を削除する</h4>
<!--%= button_to '削除', step_path(@step), method: :delete %-->
<%= render 'leads/step_statuses/destroy', step: @step, task: @task, button_name: "削除" %>


