<h3><%= "<STEP#{@step.order}>#{@step.name}" %>:</h3>
<h4>&#9312;「完了」タスクのうち最も遅い完了日を、進捗の完了日とし、現在の進捗を「完了」とする</h4>
<%= $step_num %>
<%= render 'leads/step_statuses/complete', completed_step: @step, button_name: "完了" %>
<br>
<h4>&#9313;この進捗にタスクを追加し、現在の進捗を「進捗中」とする</h4>
<%= render 'leads/step_statuses/start', step: @step, completed_id: nil, new_task: true, button_name: "開始" %>

