<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
  <head>
    <title>マウスクリックで詳細表示</title>
  </head>
  <body>
    <h1>タスク一覧 </h1>
    <h3>To Do リスト</h3>
    <table>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><input type="checkbox" name="Delete" id="delete_checkbox" /></td>
            <td><%= link_to "#{task.name}", task_path(task) %></td>
            <td><%= task.scheduled_complete_date %></td>
            <td><%= link_to '削除', task_path(task), method: :delete, data: { confirm: "「#{task.name}」を削除してよろしいですか？" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to '新規作成', new_step_task_path(@step) %>

  </body>
</html>

