<% error_messages = [] %>
<% obj.each do |object| %>
  <% if object.errors.any? %>
    <% object.errors.full_messages.each do |msg| %>
      <% error_messages.push(msg) %>
    <% end %>
  <% end %>
<% end %>

<% if error_messages.present? %>
  <% error_messages.uniq! %>
  <div id="error_explanation">
    <h2>
      入力した内容に<%= error_messages.count %>件のエラーがあります。
    </h2>
    <ul>
    <% error_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
