<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <%= link_to leads_path(user_searchword: current_user.id), class:"nav-link" do %>
      進行中の案件数
      <span class="badge badge-pill bg-light align-text-bottom"><%= current_user.lead_count %></span>
    <% end %>
    <%= link_to "案件新規作成", new_lead_path, class: "nav-link active" %>
    <%= link_to "案件をテンプレートから作成", template_index_leads_path, class: "nav-link active" %>
  </nav>
</div>
