<h1>進捗を直接編集</h1>

<%= render 'form', lead: nil, step: @step %>

<%= link_to '案件詳細に戻る', @step %> |
<%= link_to 'この進捗を削除', step_path(@step), method: :delete, data: { confirm: 'この進捗を完全に削除します。よろしいですか？' } %>
