<h1>進捗を直接編集</h1>

<%= render 'form', lead: nil, step: @step %>

<hr>

<p>
	<a class="btn btn-default" data-toggle="collapse" href="#collapseSample1">
		この進捗を削除
	</a>
</p>
<div id="collapseSample1" class="collapse">
	<div class="well">
		この進捗を完全に削除します。<br>
		※　元には戻せません。<br>
		※　登録されているタスクも同時に削除されます。<br>
		<%= link_to '削除', step_path(@step), method: :delete, 
			data: { confirm: 'この進捗を完全に削除します。よろしいですか？' }, 
			class: "btn btn-danger btn-xs"
		%>
	</div>
</div>

<hr>

<%= link_to '案件詳細に戻る', @step %>
