// Place all the styles related to the leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tooltip-lead-index-show{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tooltip-lead-index-show p{
    margin:0;
    padding:0;
}
.description-lead-index-show {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 520px;
}
.description-lead-index-show:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 530px;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(270deg);
}
.tooltip-lead-index-show:hover .description-lead-index-show{
    display: inline-block;
    top: 0px;
    left: -530px;
}
