// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 入力フォーム */

.label-task--new {
  margin-top: 5px;
  font-size: small;
}

.btn-task--new {
  margin-top: 10px;
}

.label-revive-from-canceled-list {
  margin-top: 5px;
}

.btn-revive-from-canceled-list {
  margin: 15px 0;
  width: 50px;
}

input[type="date"] {
  width: 200px;
}

.task-show-table {
  display: block;
  width: 400px;
  margin-left: 100px;
}

.task-show-table th {
  width: 30%;
}

.task-show-table td {
  width: 50%;
}

