// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 入力フォーム */

.label-task--new {
  margin-top: 5px;
}

.btn-task--new {
  margin-top: 10px;
}

.label-revive-from-canceled-list {
  margin-top: 5px;
}

.btn-revive-from-canceled-list {
  margin: 15px 0;
  width: 30%;
}

.modal-header {
  margin-left: 0;
  margin-right: auto;
}
